
body {background-color: palevioletred;
}
h1 {text-align: center;
    font-size: 250%;
     color:darkred;}
#ima1 {width: 50%;
    margin-right: 25%;
}
h3 {font-size: 200%;
    color:rgb(228, 194, 43);
}
#imal {width:50%;
   margin-right: 25%;
}
